*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
    padding: 25px 70px;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

a{
 text-decoration: none;
}

nav .right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 25px;
    margin-right: 10px;
}

 nav .left{
    display: flex;
   align-items: center;
   justify-content: space-between;
}

nav .left ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav .left ul li{
    font-size: 20px;
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.658);
    transition: 0.5s;
}

nav .left ul  .active{
    color:white;
    border-bottom: 2px solid white;
   }    

nav .left ul li:hover{
    color: white;
    border-bottom: 2px solid white;
}



.contact-no{
    font-size: 15px;
    border: 2px solid rgba(255, 255, 255, 0.404);
    padding: 8px 12px;
    margin-left: 25px;
    border-radius: 4px;
    transition: 1s;
}
.contact-no:hover{
    border: 2px solid white;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
    padding: 58px 80px;
    color: white;
}
.hero .left{
    width: 50%;
}
.hero .left h2{
    font-size: 50px;
    font-weight: 700;
}
.hero .right{
    width: 50%;
}
.hero .right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .right img{
    width: 70%;
    height: 70%;
    object-fit: cover;
    margin-top: 70px;
    animation: move 10s ease-in-out infinite;
}

@keyframes move{
    50%{
        padding-bottom: 20px;
    }
    100%{
        padding-top: 20px;
    }
}

.hero .left button{
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    padding: 12px 30px;
    margin-top: 18px; 
   transition: 0.5s;

}
.hero .left button:hover{
    color: blueviolet;
    background-color: white;
}

.about-us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
}
.about-us .left{
    width: 50%;
}
.about-us .left h2{
    color: blueviolet;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px ;
}
.about-us .left p{
    color: rgba(0, 0, 0, 0.582);
    width: 90%;
    margin-bottom: 12px;
    line-height: 20px;
}
.about-us .left ul{
    list-style: none;
}
.about-us .left ul li{
    margin: 8px 0px;
    color: rgba(0, 0, 0, 0.582);
}
.about-us .left ul li i{
    margin-right: 12px;
    color: blueviolet;
}
.about-us .left button{
    color: white;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
    border: none;
    padding: 8px 25px;
    border-radius: 8px;
    margin-top: 12px;
}

.about-us .left button:hover{
    background: linear-gradient(45deg, rgb(87, 58, 250) 0%, rgba(116, 15, 214, 0.9) 100%);

}

.about-us .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us .right img{
    width: 80%;
    width: 80%;
    object-fit: cover;
}
.service{
    padding: 50px 80px;
    background-color: rgba(218, 209, 209, 0.24);

}
.service h3{
    color: blueviolet;
    text-align: center;
    font-size: 35px;
    margin: 20px;
}

.service .card-con{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
    
.card{
    width: 350px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    padding: 18px;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.card:hover{
    margin-top: 10px;
    scale: 1.2;
    background-color: rgba(255, 255, 255, 0.623);
}

.card h4{
    text-align: center;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: 700;
}
.service p{
    text-align: center;
    margin-bottom: 8px;
}



